.dropdown:hover>.dropdown-blok {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
      pointer-events: none;
  }
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 220px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 720px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  
  }
}
.navbar{
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 100%;
  z-index: 600;
  height: 100%;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; 
}
@media (min-width: 768px) { 
.dropdown-menu{
  width: 65rem;
}}
 body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #51585e;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.filter-group {
    border-bottom: 1px solid #dee2e6;
}
.card-header {
    padding: 0.625rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(81,88,94,.12);
}
.filter-group .card-header {
    border-bottom: 0;
    border-radius: 0;
}
.card-header .title {
    margin-bottom: 0;
    color: initial;
    display: block;
}
a.title, .title a, a .title {
    text-decoration: none;
}
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.icon-control {
    margin-top: 6px;
    float: right;
    font-size: 84%;
    color: #9da1a7;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem 1.25rem;
}
.list-icon, .list-bullet, .list-dots, .list-check, .list-menu {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
.list-menu li>a {
     display: block;
    color: #51585e;
    text-decoration: none;
}
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}
.bg-gray-dark {
    background-color: #9da1a7 !important;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.43rem 0.84rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #51585e;
    background-color: #f9f9f9;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.checkbox-btn input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox-btn input:checked~.btn {
    border-color: #0d6efd;
    background-color: #e9ecef;
}
.btn-light:hover {
    border-color: #c1c9d0;
    color: #0d6efd; 
}
.rating-stars {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
    clear: both;
}
.form-check .rating-stars {
    transform: translateY(-2px);
}
.rating-stars li.stars-active {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.ah {
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.ah:before{
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.ah:hover {
 background-position: 0;
}
.ah:hover::before{
  width: 100%;
}
